body {
    background-color: rgb(138, 145, 131);
    margin: 7px 5px;
    
}

h2 {
    font-family: 'Abril Fatface', cursive;
}

.grid-container {
    
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 5fr 0.5fr 7fr 4fr;

}

.jumbotron { 
    grid-column:1/4;
    background-image: url("header.png");
    background-size: cover;
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.menu {
    grid-row: 2;
    grid-column:1/4;
    background-color: blue; 
}
.links {
    grid-row:3;
    grid-column 1;
    background-color: white;

}
.gallery {
    grid-row: 4;
    grid-column: 1;
    background-color: white;
}
.news {
    grid-row: 3/5;
    grid-column: 2;
    background-color: white;
}
.registration {
    padding-left: 20px;
    grid-row: 3/5;
    grid-column: 3;
    background-image: url(reg.png);
    background-size: cover;
}

.navbar-nav {
    float: none;
    text-align: center;
}

.navbar-nav li{
    float: none;
    display: inline-block;
}

.bigpic {
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}

.picpara {
    font size
    text-shadow: black;
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}

.list-group-item {
    text-decoration-style: none;
}

.list-group-item: :hover {
    background-color: grey;
    color: white;
}

.meccs {
    font-family: 'Roboto', sans-serif;;
    font-size: 1.5rem;
    text-align: center;
}

